* {
    margin: 0px;
    padding: 0px;
}
ul,
ol,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    border: 0;
    vertical-align: bottom;
    width: 100%;
}
/* 轮播图 */
.lunbo {
    position: relative;
    height: 720px;
    width: 1473px;
    overflow: hidden;
}


.lunbo img {
    width: 1473px;
    height: 720px;  
}
.lunbo img::before {
    content: "";
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
}

.lunbo ul {
    width: 500%;
    position: absolute;
}

.lunbo ul li {
    float: left;
}

.win-circle {
    height: 25px;
    width: 200px;
    list-style-type: none;
    position: absolute;
    z-index: 0;
    bottom: 20%;
    right: 5%;
    margin-right: 1em;
    font-size: 35px;
}

.win-circle li {
    float: left;
    list-style-type: square;
    width: 1em;
    height: 20px;
    margin: 0 1px;
    position: relative;
    color: #fff;
}

.win-circle .current {
    color: #0052D9;
}



/* 左上角logo */
.win-nav .win-logo {
    width: 168px;
    position: absolute;
    left: 9%;
    top: 25px;
}
/* 导航栏中间 */
.win-list {
    right: 240px;
    top: 10px;
    position: absolute;
    list-style: none;
}
.win-list .win-lang {
    position: absolute;
    right: -20%;
    top: 13px;
    float: right;
}

.win-list .win-lang a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-family: "PingFangSC-Regular";
    text-decoration: none;
    opacity: 1;
}
i {
    color: #0053d93f;
}

/* 下拉菜单 */
.win-list li{
    display: inline-block;
    position: relative;
    /* 使得下拉菜单相对于此元素定位 */
    width: 100px;
    transition: .3s;
    cursor: pointer;
}

.win-list li a {
    line-height: 50px;
    font-weight: bold;
    margin: 0 10px;
    display: inline-block;
    color: #e1dfdf;
}

.win-list li ul {
    position: absolute;
    /* 将下拉菜单放在其父元素的下方 */
    width: 150%;
    right: -5px;
    text-align: center;
    display: none;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color: #fff;
}

.win-list li ul li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    transition: opacity .5s, transform .5s;
    transform: translateY(-10px);
}

.win-list li:hover ul {
    display: block;
}

.win-list li:hover ul li {
    opacity: 1;
    transform: translateY(0);
}
/* 最新动态 */

.win-shu {
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.win-shu hr {
    background-color: rgb(255, 255, 255);
    width: 1225px;
    height: 2px;
    border: none;
    position: absolute;
    top: -70px;
    left: 5px;
}
.win-shu h4 {
    position: absolute;
    font-size: 30px;
    color: #fff;
    left: 20px;
    top: -60px;

}
.win-shu .win-shu-zuo {
    display: inline-block;
    width: 64%;
    margin-right: 30px;
}
.win-shu .win-shu-you {
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 33.3%;
}
.win-shu span {
    display: block;
    border: 0.5px solid ;
    width: 120px;
    height: 25px;
    text-align: center;
    transform: skewX(-15deg);
    padding: 5px;
}
.win-b {
    background-color: #fff;
    display: inline-block;
    height: 247px;
    position: absolute;
    top: 320px;
    width: 64.3%;
}
.win-d {
    display: inline-block;
    background-color: rgb(0, 169, 206);
    height: 300px;
}
.win-d a,.win-d span {
    color: #fff;
}
.win-b a {
    color: #000;
}
.win-e {
    display: inline-block;
    width: 48%;
    margin-top: 86px;
    margin-right: 25px;
}
.win-f {
    width: 48%;
    height: 300px;
    display: inline-block;
    background-color: #0052D9;
    margin-right: 25px;
}
.win-f a,
.win-f span {
    color: #fff;
}
.win-g {
    display: inline-block;
    width: 48%;

}
.win-h {
    width: 48%;
    display: inline-block;
    height: 300px;
}
.win-i {
    margin-top: 30px;
    width: 100%;
    height: 246px;
}
.win-j {
    display: inline-block;
    background-color: #ccc;
    height: 300px;
    
}
.win-k{
    margin-top: 30px;
}
.win-l {
    position: absolute;
    height: 240px;
    bottom: -104px;
    background-color: #fff;
    width: 64.3%;
}
.win-m {
    margin-top: 30px;
}
.win-n {
    height: 350px;
    background-color: #0052D9;
}
.win-n span,
.win-n a {
    color: #fff;
}
.win-shu h3,.win-shu p {
    height: 80px;
    line-height: 50px;
    padding: 0 20px;
}
.win-shu .win-shu-zuo div:hover,
.win-shu .win-shu-you div:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .4);
}
.win-shu .win-shu-zuo div,
.win-shu .win-shu-you div {
    overflow: hidden;
}
.win-shu .win-shu-zuo div img,
.win-shu .win-shu-you div img {
    transition: transform .5s ease-in-out;
}
.win-shu .win-shu-zuo div:hover img,
.win-shu .win-shu-you div:hover img {
    transform: scale(1.1);
}